.Datepicker-wrapper {
  display: none;

  position: absolute;
  width: 250px;
  height: 270px;

  font-size: 14px;
}

.Datepicker-wrapper.is-visible {
  display: block;
}

.Picker {
  background-color: #303437;
  color: #F3F3F3;
  height: 100%;
}

/* TOP BAR */

.Picker-top {
  background-color: #5A5B5F;
  padding: 5px;
}

.Picker-top > * {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.Picker-top .Picker-top-left,
.Picker-top .Picker-top-right {
  width: 20px;
}

.Picker-top .Picker-top-center {
  width: calc(100% - 40px);
}

/* CENTRAL AREA */

.Picker-calendar table {
  table-layout: fixed;

  width: 100%;
  height: 200px;

  padding: 5px 5px 0;

  cursor: default;
}

.Picker-calendar table th {
  color: #FBFBFB;
}

.Picker-calendar table tr {
  text-align: center;
}

.Picker-calendar table td {
  padding: 5px 0;
  color: #65666A;
  cursor: pointer;
}

.Picker-calendar table td.is-selected {
  color: inherit;
  background-color: #E8736F;
  border-radius: 50%;
}

/* MONTH PICKER */

.Picker-month table td.is-current-month {
  color: #D6D6D7;
}

/* YEAR PICKER */
