.Datepicker-wrapper {
  display: none;

  position: absolute;
  width: 250px;

  font-size: 14px;
}

.Datepicker-wrapper.is-visible {
  display: block;
}

.Picker {
  color: #F3F3F3;
  background-color: #303437;

  height: 100%;

  text-align: center;
}

/* TOP BAR */

.Picker-top {
  background-color: #5A5B5F;
  padding: 10px 5px;
}

.Picker-top > * {
  display: inline-block;
  cursor: pointer;
}

.Picker-top .Picker-top-left,
.Picker-top .Picker-top-right {
  width: 20px;
}

.Picker-top .Picker-top-center {
  width: calc(100% - 40px);
}

/* CENTRAL AREA */

.Picker table {
  table-layout: fixed;

  width: 100%;
  height: 200px;

  padding: 5px 5px 0;

  cursor: default;
}

.Picker table th {
  color: #FBFBFB;
}

.Picker table tr {
  text-align: center;
}

.Picker table td {
  padding: 5px 0;
  color: #65666A;
  cursor: pointer;
}

.Picker table td.is-today {
  color: #0F0F0F;
  background-color: #FFDB99;
  border-radius: 50%;
}

.Picker table td.is-selected {
  color: inherit;
  background-color: #E8736F;
  border-radius: 50%;
}

/* MONTH PICKER */

.Picker-month .is-current-month {
  color: #D6D6D7;
}

/* BOTTOM BAR */

.Picker-bottom {
  margin: 10px 0;
  padding: 7px 37px;

  display: inline-block;

  background-color: #282A2D;
  border-radius: 15px;

  cursor: pointer;
}
